* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: aliceblue;
    border-bottom: lightgray 1px solid;
    height: 100px;
    box-shadow: 0px 4px 5px gray;
}

main {
    margin-top: 25px;
}

button:hover {
    cursor: pointer;
}

.navbar {
    width: 100%;
    padding-top: 10px;
}

.flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 15px;
}

.nav {
    border-right: lightgray 3px solid;
    padding-right: 15px;
}

.navbar h3, .navbar a {
    color: #909090;
    text-decoration: none;
}

.navbar h3:hover, .navbar a:hover {
    color: gray;
    text-shadow: 0px 1px 1px gray;
}

.button-flex {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    width: 1000px;
    column-gap: 100px;
    row-gap: 75px;
    justify-content: center;
}

.button-flex button {
    height: 100px;
    width: 250px;
    border-radius: 15px;
    font-size: 22px;
    background-color: #B0C4DE;
    color: white;
    text-shadow: 0 0 2px gray;
    box-shadow: 0 0 5px gray;
    border-color: gray;
}

.button-flex button:hover {
    background-color: #72A0C1;
    /*color: black;*/
    color: #ffffc2;
    text-shadow: none;
}

.start {
    text-align: center;
    margin-bottom: 50px;
}

.results {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.results th {
    padding-bottom: 5px;
}

.results td {
    border-top: 1px solid black;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.results button {
    padding: 5px;
    border-radius: 5px;
}

.tbuttond {
    background-color: indianred;
    color: white;
}

.tbuttond:hover {
    background-color: crimson;
    color: #ffffc2;
}

.tbuttonm {
    background-color: #72A0C1;
    color: white;
}

.tbuttonm:hover {
    background-color: royalblue;
    color: #ffffc2;
}

.addbutton {
    border-radius: 5px;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 20px;
    display: block;
    font-size: 18px;
    background-color: khaki;
    color: #585858;
    font-weight: bold;
}

.addbutton:hover {
    background-color: gold;
    text-shadow: 0 0 1px #585858;
}

.manageForm, .addForm {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border: 1px solid black;
    /*text-align: center;*/
}

.manageForm label{
    margin-bottom: 20px;
}

/*.tlabel {
    display: inline-block;
    text-align: right;
    width: 160px;
}*/

/*.clabel {
    display: inline-block;
    text-align: center;
}*/

#park {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    margin-bottom: 20px;
}

